<!doctype html>

<html lang="en">

<head>
  <title>Dashboard</title>
  <link href="../resources/style_dashboard.css" rel="stylesheet" />
  <link href="../resources/style.css" rel="stylesheet" />
</head>

<body>
  <header>
    <h1 id="headerTitle">amalgamation.</h1>
    <img class="editing-icon" src="../resources/images/icons8-user.png" width="50" height="50"/>
  </header>
  <section class="colorbar"></section>
  <br/>

  <div class="main-body">
    <h1> Hello, User Foobar </h1>

    <div class="custom-select" style="width:200px;">
      <label for="sortby">Sort By</label>
      <select name="Sort By" id="sortby">
        <option value="name_up">Name ↑</option>
        <option value="name_down">Name ↓</option>
        <option value="edited_up">Last Edited ↑</option>
        <option value="edited_down">Last Edited ↓</option>
      </select>
    </div>
    <br>

    <div class="display-window">
      <h3 class="centered">Project 3</h3>
      <ul>
        <li>
          Here's a fun short description of your project! Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>

      <button class="projectButton" onclick= "document.getElementById('myModal').style.display='block'" type="button">Share Settings</button>
      <button class="projectButton" type="button">Download</button>
      <button class="projectButton"  onclick="location.href='doodling.html'"  type="button">Edit</button>
    </div>

    <div class="display-window">
      <h3 class="centered">Project 2</h3>
      <ul>
        <li>
          Here's a fun short description of your project! Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <button class="projectButton" onclick= "document.getElementById('myModal').style.display='block'" type="button">Share Settings</button>
      <button class="projectButton" type="button">Download</button>
      <button class="projectButton"  onclick="location.href='doodling.html'"  type="button">Edit</button>
    </div>
    <div class="display-window">
      <h3 class="centered">Project 1</h3>
      <ul>
        <li>
          Here's a fun short description of your project! Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <button class="projectButton" onclick= "document.getElementById('myModal').style.display='block'" type="button">Share Settings</button>
      <button class="projectButton" type="button">Download</button>
      <button class="projectButton"  onclick="location.href='doodling.html'"  type="button">Edit</button>
    </div>

    <div class="display-window new">
      <h3 class="centered">+</h3>
    </div>
  </div>

  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <button onclick = "document.getElementById('myModal').style.display='none'" type="button" class = "close">X</button>
      <p>Shared User 1</p>
      <p>Shared User 2</p>
      <p>Shared User 3</p>
      <button onclick = "" type="button" class = "addUser">Add User</button>
      <button onclick = "" type="button" class = "removeUser">Remove User</button>
    </div>

  </div>

  <footer>         
    <h2 id="teamTux">&copy; Team Tux</h2>
    <a href="https://github.com/TheStopsign/Tux" target="_blank"><img alt="Github Octocat" src="../resources/images/Octocat.png"/></a>
  </footer>

</body>

</html>
