<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../resources/style.css"/>
  <title>Doodling</title>
  <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <script>
    window.addEventListener('load',function() {
      const sock = io('http://localhost:3001', {transports: ['websocket', 'polling', 'flashsocket']});

      sock.on('connect', () => {
        console.log("connected to editing session")
        sock.emit("joinsession");
      });

      sock.on('draw', () => {
        console.log("someone doodled!")
      });

      window.addEventListener('beforeunload',function() { //handles users leaving the page
        sock.emit('leavesession')
      })

      document.getElementById('content-area').addEventListener('click',function() {
        sock.emit('draw')
      })
    })
  </script>
  <meta charset="UTF-8">
</head>
<body>

  <header>
    <a href="dashboard.html"><h1 id="headerTitle">amalgamation.</h1></a>
    <img class="editing-icon" src="../resources/images/icons8-user.png" width="50" height="50"/>
    <img class="editing-icon" src="../resources/images/icons8-folder.png" width="50" height="50"/>
  </header>

  <div id="doodling-container">
    <div id="content-area">

    </div>

    <div id="lc"></div>
    <script src="../literallycanvas/_js_libs/react-0.14.3.js"></script>
    <script src="../literallycanvas/_js_libs/literallycanvas.js"></script>

    <script type="text/javascript">
      var lc = LC.init(document.getElementById("lc"), {
        imageURLPrefix: '../literallycanvas/_assets/lc-images',
        toolbarPosition: 'bottom',
        defaultStrokeWidth: 2,
        strokeWidths: [2, 3, 5, 10, 15, 30]
      });
    </script>

    <div id="collab-info">
      <div id="users-connected">
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
      </div>
      <div id="chat">
        <img class="editing-icon" src="../resources/images/icons8-chat.png" width="50" height="50"/>
      </div>
      <div id="revision-history">
        
      </div>
    </div>
  </div>

  <footer>         
    <h2 id="teamTux">&copy; Team Tux</h2>
    <a href="https://github.com/TheStopsign/Tux" target="_blank"><img alt="Github Octocat" src="../resources/images/Octocat.png"/></a>
  </footer>

</body>

</html>