<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../resources/style.css"/>
  <title>Doodling</title>
</head>
<body>

  <header>
    <a href="dashboard.html"><h1 id="headerTitle">amalgamation.</h1></a>
    <img class="editing-icon" src="../resources/images/icons8-user.png" width="50" height="50"/>
    <img class="editing-icon" src="../resources/images/icons8-folder.png" width="50" height="50"/>
  </header>

  <div id="doodling-container">
    <div id="left-toolbar">
      <img class="editing-icon" src="../resources/images/icons8-pencil.png" width="50" height="50"/>
      <img class="editing-icon" src="../resources/images/icons8-color.png" width="50" height="50"/>
    </div>
    <div id="content-area">

    </div>
    <div id="collab-info">
      <div id="users-connected">
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
        <img class="editing-icon" src="../resources/images/icons8-smiling.png" width="48" height="48"/>
      </div>
      <div id="chat">
        <img class="editing-icon" src="../resources/images/icons8-chat.png" width="50" height="50"/>
      </div>
      <div id="revision-history">
        
      </div>
    </div>
  </div>

  <footer>         
    <h2 id="teamTux">&copy; Team Tux</h2>
    <a href="https://github.com/TheStopsign/Tux" target="_blank"><img alt="Github Octocat" src="../resources/images/Octocat.png"/></a>
  </footer>

</body>

</html>