<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../resources/style.css"/>
      <script type=”text/javascript” src=”https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js”></script>
      <title>amalgamation.</title> 
   </head>
   <body>
      
      <header>
         <a href="index.html"><h1 class="headerTitle">amalgamation.</h1></a>
      </header>

      <h1 class="mainTitle">amalgmation.</h1>
      <button type="button" class="button loginButton" onclick="location.href='login.html';">Login</button>
      <button type="button" class="button signUpButton" onclick="location.href='signup.html';">Sign-Up</button>

      <footer>         
         <h2 class="teamTux">&copy; Team Tux</h2>         
         <a href="https://github.com/TheStopsign/Tux" target="_blank"><img alt="Github Octocat" src="../resources/Images/Octocat.png"/></a>
      </footer>

   </body>
</html>