<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../resources/style.css"/>
      <link rel='icon' href='../resources/images/favicon.ico' type='image/x-icon' />
      <title>amalgamation.</title> 
   </head>
   <body>
      
      <header>
         <a href="index.html"><h1 id="headerTitle">amalgamation.</h1></a>
      </header>

      <h1 id="mainTitle">amalgamation.</h1>
      <button type="button" class="button" id="loginButton" onclick="location.href='login.html';">Login</button>
      <button type="button" class="button" id="signUpButton" onclick="location.href='signup.html';">Sign-Up</button>

      <footer>         
         <h2 id="teamTux">&copy; Team Tux</h2>         
         <a href="https://github.com/TheStopsign/Tux" target="_blank"><img alt="Github Octocat" src="../resources/images/Octocat.png"/></a>
      </footer>

   </body>

</html>