<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../resources/style.css"/>
      <title>Sign Up</title> 
   </head>
   <body>
      
      <header>
         <a href="index.html"><h1 id="headerTitle">amalgamation.</h1></a>
      </header>

      <h1 id="pageTitle">Sign-Up</h1>

      <div id="signUpLoginBox">
         <h3 class="signUpFormItem">First Name:</h3>
         <h3 class="signUpFormEntryBox">Ex. John</h3>
         <h3 class="signUpFormItem">Last Name:</h3>
         <h3 class="signUpFormEntryBox">Ex. John</h3>
         <h3 class="signUpFormItem">E-mail:</h3>
         <h3 class="signUpFormEntryBox">Ex. John</h3>
         <h3 class="signUpFormItem">Confirm E-mail:</h3>
         <h3 class="signUpFormEntryBox">Ex. John</h3>
         <h3 class="signUpFormItem">Password:</h3>
         <h3 class="signUpFormEntryBox">Ex. John</h3>
         <h3 class="signUpFormItem">Confirm Password:</h3>
         <h3 class="signUpFormEntryBox">Ex. John</h3>

         <button class="button submit" onclick="location.href='dashboard.html';">Submit</button>
      </div>
      <footer>         
         <h2 id="teamTux">&copy; Team Tux</h2>
         <a href="https://github.com/TheStopsign/Tux" target="_blank"><img alt="Github Octocat" src="../resources/images/Octocat.png"/></a>
      </footer>

   </body>

</html>
