<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../resources/style.css"/>
      <script type=”text/javascript” src=”https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js”></script>
      <title>Sign Up</title> 
   </head>
   <body>
      
      <header>
         <a href="index.html"><h1 class="headerTitle">amalgamation.</h1></a>
      </header>

      <h1 class="pageTitle">Sign-Up</h1>

      <div class="signUpWrapper">
         <div class="signUpBox">
            <h3 class="formItem">First Name:</h3>
            <h3 class="formEntryBar">Ex. John</h3>
            <h3 class="formItem">Last Name:</h3>
            <h3 class="formEntryBar">Ex. John</h3>
            <h3 class="formItem">E-mail:</h3>
            <h3 class="formEntryBar">Ex. John</h3>
            <h3 class="formItem">Confirm E-mail:</h3>
            <h3 class="formEntryBar">Ex. John</h3>
            <h3 class="formItem">Password:</h3>
            <h3 class="formEntryBar">Ex. John</h3>
            <h3 class="formItem">Confirm Password:</h3>
            <h3 class="formEntryBar">Ex. John</h3>
         </div>
         <button class="button submit">Submit</button>
      </div>   

      <div class="spacer"></div>
      <footer>         
         <h2 class="teamTux">&copy; Team Tux</h2>
         <a href="https://github.com/TheStopsign/Tux" target="_blank"><img alt="Github Octocat" src="../resources/Images/Octocat.png"/></a>
      </footer>

   </body>
</html>
