<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../resources/style.css"/>
      <title>Sign Up</title> 
   </head>
   <body>
      
      <header>
         <h1>amalgamation.</h1>
      </header>

      <h1 class="title">Sign-Up</h1>

      <div class="signUp">
         <h3 class="formItem">First Name:</h3>
         <h3 class="formEntryBar">Ex. John</h3>
         <h3 class="formItem">Last Name:</h3>
         <h3 class="formItem">E-mail:</h3>
         <h3 class="formItem">Confirm E-mail:</h3>
         <h3 class="formItem">Password:</h3>
         <h3 class="formItem">Confirm Password:</h3>
         

      </div>


      <footer>



      </footer>

   </body>

</html>
