@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

/* * {
  color: whitesmoke;
} */

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif, serif;    
  background-color: #686963;
  height: 100%;
}

#mainTitle {
  width: 100%;
  margin-top: 15%;
  font-family: "Agency FB", sans-serif, serif;
  font-size: 5em;
  text-align: center;
  color: white;
}

#loginButton {
  margin-left: 35%;
  float: left;
}

#signUpButton {
  float: right;
  margin-right: 35%;
}

figcaption {
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}

#pageTitle {
  margin: 5% 10px 10px 25%;
  width: 50%;
  text-align: center;
  font-weight: normal;
  color: #c4c4c4;
}

#headerTitle {
  color: #686963;
  height: 40px;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  float: left;
}

#signUpLoginBox {
  height: 500px;
  width: 50%;
  border: 1.5px #686963 solid;
  margin: 30px 0 0 25% ;
}

.button {
  background-color: #00000000;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #c4c4c4;
  border: none;
  width: 150px;    
  font-size: 1.1em;
}

.button:hover {
  background-color: #686963;
  cursor: pointer;
}

.loginFormItem {
  padding: 10px 0 10px 0;
  font-weight: normal;
  width: 100%;
  float: left;
  color: #c4c4c4;
  margin: 0.5em 0 0.5em 0;
}

.loginFormEntryBox {
  width: 50%;
  border: 1.5px #686963 solid;
  float: left;
  font-weight: normal;
  padding: 10px;
  color: black;
  border: 1px solid #c4c4c4;
  display: block;
  
}

.signUpFormItem {
  padding: 10px 0 10px 0;
  font-weight: normal;
  width: 40%;
  float: left;
  color: #c4c4c4;
  margin: 0.5em 0 0.5em 0;
}

.signUpFormEntryBox {
  width: 50%;
  border: 1.5px #686963 solid;
  float: left;
  font-weight: normal;
  padding: 10px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  display: block;
}

.submit {
  float: right;
}

header {
  height: 4rem;
  width: 100%;
  top: 0;
  background-color: #C4C4C4;
  font-family: "Agency FB", sans-serif, serif;
  position: absolute;
}

footer {
  height: 4rem;
  width: 100%;
  background-color: #C4C4C4;
  font-family: "Agency FB", sans-serif, serif;
  color: white;
  bottom: 0;
  left: 0;
  position: absolute;
}

#teamTux {
  padding: 1rem 0rem 0rem 1rem;
  float: left;    
  margin: auto;
  color: #686963;
}

footer img {
  float: right;
  height: 3rem;
  cursor: pointer;
  margin: 0.5rem;
}

/* Doodling-Specific */
.literally .button-style-1{border:2px solid transparent;border-radius:3px}.literally .button-style-1{text-decoration:none;cursor:pointer}.literally .button-style-1.selected:not(.disabled){background-color:#a1d9fe}.literally .button-style-1:hover:not(.disabled){border-color:#a1d9fe}.literally .button-style-1.disabled{cursor:default;opacity:0.3}.literally.toolbar-at-top .lc-drawing{bottom:0;top:31px}.literally.toolbar-at-top .lc-options{top:0;border-bottom:1px solid #555}.literally.toolbar-at-bottom .lc-drawing{bottom:31px;top:0}.literally.toolbar-at-bottom .lc-options{bottom:0;border-top:1px solid #555}.literally.toolbar-hidden .lc-drawing{left:0;right:0;bottom:0;top:0}.literally.toolbar-hidden .lc-options,.literally.toolbar-hidden .lc-picker{display:none}.literally{position:relative;background-color:#ddd;min-height:400px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-ms-touch-action:none;user-select:none}.literally,.literally *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.literally>*{position:absolute}.literally .lc-picker{top:0;left:0;bottom:0;width:61px;background-color:#e6e6e6}.literally .lc-drawing{right:0;left:0;bottom:0;left:0}.literally .lc-drawing>*{position:absolute;top:0;right:0;bottom:0;left:0}.literally .lc-drawing.with-gui{right:0;left:61px;cursor:default}.literally .lc-drawing.with-gui .polygon-toolbar{top:auto;height:31px}.literally .lc-drawing.with-gui .polygon-toolbar .polygon-toolbar-button{float:left}.literally .lc-drawing.with-gui .text-tool-input:focus{outline:none}.literally .lc-picker{z-index:1001;border-right:1px solid #555}.literally .lc-picker .toolbar-button{width:26px;height:26px;line-height:26px;margin:2px;padding:0;cursor:pointer;text-align:center;border:2px solid transparent;border-radius:3px}.literally .lc-picker .toolbar-button{text-decoration:none;cursor:pointer}.literally .lc-picker .toolbar-button.selected:not(.disabled){background-color:#a1d9fe}.literally .lc-picker .toolbar-button:hover:not(.disabled){border-color:#a1d9fe}.literally .lc-picker .toolbar-button.disabled{cursor:default;opacity:0.3}.literally .lc-picker .thin-button{cursor:pointer;float:left;position:relative}.literally .lc-picker .fat-button{clear:both;width:56px}.literally .lc-picker .lc-pick-tool,.literally .lc-picker .lc-undo,.literally .lc-picker .lc-redo,.literally .lc-picker .lc-zoom-in,.literally .lc-picker .lc-zoom-out{background-size:100% auto;background-repeat:no-repeat;background-position:center center}.literally .color-well{font-size:10px;float:left;width:60px}.literally .color-well.open{background-color:#a1d9fe}.literally .color-well-color-container{border:2px solid transparent;border-radius:3px;border:1px solid #aaa;position:relative;width:28px;height:28px;margin:1px auto;overflow:visible}.literally .color-well-color-container{text-decoration:none;cursor:pointer}.literally .color-well-color-container.selected:not(.disabled){background-color:#a1d9fe}.literally .color-well-color-container:hover:not(.disabled){border-color:#a1d9fe}.literally .color-well-color-container.disabled{cursor:default;opacity:0.3}.literally .color-well-color-container .color-well-checker{position:absolute;width:50%;height:50%;background-color:black}.literally .color-well-color-container .color-well-checker-top-left{border-top-left-radius:3px}.literally .color-well-color-container .color-well-checker-bottom-right{border-bottom-right-radius:3px}.literally .color-well-color-container .color-well-color{position:absolute;top:0;right:0;bottom:0;left:0;border-radius:3px}.literally .color-picker-popup{position:absolute;z-index:1;background-color:white;border:1px solid #555;left:60px;bottom:31px}.literally .color-picker-popup .color-row{clear:both}.literally .color-picker-popup .color-row .color-cell{cursor:pointer;width:20px;height:20px;line-height:20px;float:left}.literally .color-picker-popup .color-row .color-cell:hover,.literally .color-picker-popup .color-row .color-cell.selected{border:1px solid #555;line-height:18px}.literally .color-picker-popup .color-row .color-cell.transparent-cell{width:100%}.literally .horz-toolbar{height:31px;background-color:#e6e6e6}.literally .horz-toolbar .label{line-height:30px;margin:0 0.25em 0 0.25em;font-size:12px}.literally .horz-toolbar span{line-height:30px;margin:0 0.25em 0 0.25em;font-size:12px;float:left}.literally .horz-toolbar .square-toolbar-button{border:2px solid transparent;border-radius:3px;margin:1px;border:1px solid #aaa;width:28px;height:28px;float:left;position:relative}.literally .horz-toolbar .square-toolbar-button{text-decoration:none;cursor:pointer}.literally .horz-toolbar .square-toolbar-button.selected:not(.disabled){background-color:#a1d9fe}.literally .horz-toolbar .square-toolbar-button:hover:not(.disabled){border-color:#a1d9fe}.literally .horz-toolbar .square-toolbar-button.disabled{cursor:default;opacity:0.3}.literally .horz-toolbar .square-toolbar-button img{max-width:100%;max-height:100%}.literally .horz-toolbar .square-toolbar-button label{position:absolute;top:0;right:0;bottom:0;left:0;line-height:26px;margin:auto;float:none;text-align:center}.literally .polygon-toolbar{position:absolute;border-top:1px solid #555;border-bottom:1px solid #555;width:100%}.literally.toolbar-at-bottom .polygon-toolbar{top:-100%}.literally.toolbar-at-top .polygon-toolbar{top:100%}.literally .lc-options{z-index:1;right:0;left:61px}.literally .lc-options .lc-font-settings{height:30px;line-height:31px;padding-left:4px;background-color:#f5f5f5}.literally .lc-options .lc-font-settings input{margin:0 0.5em 0 0}.literally .lc-options .lc-font-settings input[type=checkbox]{margin:0 0.5em 0 0.5em}

#doodling-container {
  position: absolute;
  top: 4rem;
  height: calc(100vh - 8rem - 2rem);
  width: 100%;
}

.literally {
  float:left;
  left: 1rem; 
  background: white;
  height: calc(100vh - 8rem - 2rem);
  width: calc(100% - 17rem - 1rem - 0.5rem);
  margin: 1rem 0rem;
}

/*#content-area,*/
#collab-info {
  float:right;
  height: 100%;
  display: inline-block;
  position: absolute;
  margin: 1rem;
  background: #C4C4C4;
}

/*#content-area {
  left: 17rem; 
  background: white;
  width: calc(100% - 17rem - 17rem - 0.5rem);
  margin: 1rem 0rem;
}
*/
#collab-info {
  left: calc(100% - 17rem - 0.5rem);
  width: 15.5rem;
  /* display: flex; */
  float: right;
  background: none;
}

#users-connected {
  height: 12rem;
  background: #C4C4C4;
  margin-bottom: 1rem;
}

#chat {
  background: #C4C4C4;
  height: calc(100% - 9rem - 5rem);
}

#revision-history {
  height: 4rem;
  margin-top: 1rem;
  background: #C4C4C4;
}

#left-toolbar .editing-icon {
  display: block;
  margin: 0.5rem 0rem 0rem 0.5rem;
}

header .editing-icon {
  float: right;
  margin: 0.5rem 0.5rem 0rem 0rem;
}

header .logo {
  float: left;
  margin: 0.5rem 0.5rem 0rem 0rem;
}

#users-connected .editing-icon-container {
  display: inline-block;
  margin: 0.5rem 0rem 0rem 0.5rem;
  width: 48px;
}

#chat .editing-icon {
  margin: 0.5rem 0rem 0rem 0.5rem;
}