@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

* {
  color: #686963;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif, serif;    
  background-color: #686963;
}

.mainTitle {
  width: 100%;
  margin-top: 15%;
  font-family: "Agency FB", sans-serif, serif;
  font-size: 5em;
  text-align: center;
  color: white;
}

.button {
  background-color: rgba(0,0,0,0);
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #c4c4c4;
  border: none;
  width: 150px;    
  font-size: 1.1em;
}

.button:hover {
  background-color: #686963;
  cursor: pointer;
}

.loginButton {
  margin-left: 35%;
  float: left;
}

.signUpButton {
  float: right;
  margin-right: 35%;
}

.pageTitle {
  margin: 5% 10px 10px 25%;
  width: 50%;
  text-align: center;
  font-weight: normal;
  color: #c4c4c4;
}

.formItem {
  padding: 10px;
  font-weight: normal;
  width: 40%;
  float: left;
  color: #c4c4c4;
}

.formEntryBar {
  width: 50%;
  border: 1.5px #686963 solid;
  float: left;
  font-weight: normal;
  padding: 10px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.submit {
  float: right;
}

header {
  height: 4rem;
  width: 100%;
  top: 0;
  background-color: #C4C4C4;
  font-family: "Agency FB", sans-serif, serif;
  position: absolute;
}

.headerTitle {
  color: #686963;
  height: 40px;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  float: left;
}

.signUp {
  height: 500px;
  width: 50%;
  border: 1.5px #686963 solid;
  margin: 30px 0 0 25% ;
}

footer {
  height: 4rem;
  width: 100%;
  background-color: #C4C4C4;
  font-family: "Agency FB", sans-serif, serif;
  color: white;
  bottom: 0;
  left: 0;
  position: absolute;
}

.teamTux {
  padding: 1rem 0rem 0rem 1rem;
  float: left;    
  margin: auto;
}

footer img {
  float: right;
  height: 3rem;
  cursor: pointer;
  margin: 0.5rem;
}

/* Doodling-Specific */

#doodling-container {
  position: absolute;
  /* display: flex; */
  top: 4rem;
  height: calc(100vh - 8rem - 2rem);
  width: 100%;
}

#left-toolbar,
#content-area,
#collab-info {
  height: 100%;
  display: inline-block;
  margin: 1rem;
  background: #C4C4C4;
}

#left-toolbar {    
  width: 15rem;
}

#content-area {    
  background: white;
  width: calc(100% - 17rem - 17rem - 0.5rem);
  margin: 1rem 0rem;
}

#collab-info {    
  width: 15rem;
  /* display: flex; */
  float: right;
  background: none;
}

#users-connected {
  height: 8rem;
  background: #C4C4C4;
  margin-bottom: 1rem;
}

#chat {
  background: #C4C4C4;
  height: calc(100% - 9rem - 5rem);
}

#revision-history {
  height: 4rem;
  margin-top: 1rem;
  background: #C4C4C4;
}